.image-zoom {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
}

.zoom-controls {
  position: absolute;
  top: -44px;
  right: 10px;
  z-index: 2;
}

button {
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.tableheadingmy {
  overflow-x: scroll;
}

.cardheadercustme.card-header {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
